# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# Testing
.pytest_cache/
.coverage

# Logs
logs/*.log

# Data
data/raw/*
data/processed/*

# IDE
.vscode/
.idea/
